

.img1{
    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;
    
}

.imgone{

    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;    
}

.imgtwo{

    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;        
}

.imgthree{
    
    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;  

}

.imgfour{
    
    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;  

}

.imgfive{
    
    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;  
}
.imgsix{
    
    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;  

}

.imgseven{
    
    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;  
}

.imgeight{
    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;  
}

.imgnine{

    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px; 

}

.imgten{
    
    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px; 

}

.new{
    background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(90deg, #fff6e9,  #ffefd7);
  font-size: 25px;
}