#header{
    font-size: 50px;
    color: rgba(4, 4, 36, 0.897);
    text-align: center;
    font-style: oblique;
}
.new{
    background-color: #D7C49E;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #D7C49E 20%, #D7C49E 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #D7C49E 20%, #D7C49E 80%, transparent 80%, transparent) 30px 30px, linear-gradient(#98979e 2.4000000000000004px, transparent 2.4000000000000004px) 0 -1.2000000000000002px, linear-gradient(90deg, #8bb6b4 2.4000000000000004px, #D7C49E 2.4000000000000004px) -1.2000000000000002px 0;
    background-size: 60px 60px, 60px 60px, 30px 30px, 30px 30px;
}
.img1{
    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;   
    width:800px;
    height: 500px;
    border: 10px solid #262223 ;
    border-radius: 5px;
    
}

.img2{

    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;   
    width:800px;
    height: 500px;
    border: 10px solid #262223;
    border-radius: 5px;
     
}

.img3{

    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;       
    width:800px;
    height: 500px;
    border: 10px solid #262223;
    border-radius: 5px;
      
}

.img4{
    
    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;  
    width:800px;
    height: 500px;
    border: 10px solid #262223;
    border-radius: 5px;
     
}
.img5{

    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;   
    width:800px;
    height: 500px;
    border: 10px solid #262223;
    border-radius: 5px;
     
}
.img6{

    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;   
    width:800px;
    height: 500px;
    border: 10px solid #262223;
    border-radius: 5px;
     
}
.img7{

    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;   
    width:800px;
    height: 500px;
    border: 10px solid #262223;
    border-radius: 5px;
     
}

.img8{

    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;   
    width:800px;
    height: 500px;
    border: 10px solid #262223;
    border-radius: 5px;
     
}

.img9{

    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;   
    width:800px;
    height: 500px;
    border: 10px solid #262223;
    border-radius: 5px;
     
}

.img10{

    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;   
    width:800px;
    height: 500px;
    border: 10px solid #262223;
    border-radius: 5px;
     
}