.air{
    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;  
    width:800px;
    height: 500px;
    border: 10px solid rgb(50, 2, 54);
    border-radius: 5px;
     
}
.road{
   
    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;  
    width:800px;
    height: 500px;
    border: 10px solid rgb(50, 2, 54);
    border-radius: 5px;
}
.train{
    margin:auto;
    margin-bottom: 100px;
    margin-left: 250px;  
    width:800px;
    height: 500px;
    border: 10px solid rgb(50, 2, 54);
    border-radius: 5px;
}

.new{
    background-color: rgb(180, 153, 184); 
  background-image: linear-gradient(rgb(144, 66, 163), yellow);
}